.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $timeTransition $timeCubic;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // min-width: 528px;
  min-height: 581px;
  min-width: calc(100% - 30px);
  padding: 25px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }

  transform: translate(-50%, -50%) scale(1);
  transition: transform $timeTransition $timeCubic,
    opacity $timeTransition $timeCubic;

  @media screen and (min-width: 480px) {
    padding: 40px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: box-shadow $timeTransition $timeCubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.icon-close {
  .close-button:hover &,
  .close-button:focus & {
    fill: $accentColor;
  }

  transition: fill $timeTransition $timeCubic;
}

/* Modal */

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titleTextColor;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-label-name {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primaryTextColor;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;

  &:focus {
    border-color: $accentColor;
    outline: $accentColor;
  }

  transition: border-color $timeTransition $timeCubic;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  .modal-form-input:focus + & {
    fill: $accentColor;
  }

  transition: fill $timeTransition $timeCubic;
}

.modal-list-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-list {
  margin-bottom: 20px;
}

.modal-form-input.comments {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
}

.modal-form-input.comments {
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.agreement {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
  margin-bottom: 31px;
  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-button {
  display: block;
  @extend %buttons;
  padding: 10px 55px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  transition: background-color $timeTransition $timeCubic;
}

.agreement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement__uncheck-icon {
  margin-right: 7px;

  .agreement__checkbox:checked + & {
    fill: $accentColor;
    background-color: $accentColor;
    border-radius: 3px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .agreement__checkbox:focus + & {
    fill: $accentColor;
  }

  .agreement__checkbox + & {
    fill: currentColor;
    background-color: transparent;
    border-radius: 3px;

    transition: background-color $timeTransition $timeCubic,
      fill $timeTransition $timeCubic;
  }
}

.agreement__link {
  color: $accentColor;
}
